html, body {
    background: #cccccc;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px 0;
}

#logo {
    width: 20%;

}

.conteiner {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.principal {
    width: 100%;
}

nav li {
    display: inline;
    margin: 0, 15px, 0, 15px;
    padding: 25px;
    padding-right: 0%;
}

nav {
    position:absolute;
    top: 130px;
    right: 0px;
}

nav a {
    text-transform: uppercase;
    color: #2e2c2c;
    font-weight: lighter;
    font-size: 35px;
    text-decoration: none;
    color: #02524d;
}


nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}

#banner {
    width: 100%;
}

.title_contato {

    font-family: 'open_sansregular';
    font-weight: lighter;
    font-size:4em;
    color: #02524d;
    text-align: left;
    margin-bottom:20px;
}

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
  
  font-size: 0.8em;
  color: #fff;
  top: -11px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
  background: #02524d;
  padding: 3px 8px;
  left: 25px;
  border-radius: 50px;
  font-weight: bold;

}

.style-form-input {

    float: left;
    width: 295px;
    margin: 1em 0;
    position: relative;
    border-radius: 4px;
}

.right { float:right; }

@media only screen and (max-width: 768px){
    
  .style-form-input { width:100%; }

}

.style-form-input label {
    color: rgb(255, 255, 255);
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.style-form-input.full { 
    width: 650px;
    max-width: 100%;
}

input,
textarea {

    width: 100%;
    padding: 30px;
    border: 0;
    font-size: 1em;
    background-color: #2d2d2d;
    color: #fff;
    border-radius: 50px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 10em;
}

.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}

.btn-submit {

    width: 160px;
    color: #fff;
    font-size: 1.2em;    
    float: left;
    text-align: center;
    padding: 15px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: #02524d;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06), 0 2px 10px 0 rgba(0,0,0,0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    border:none;

}

.btn-submit:hover {
    
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
    0 1px 1px 0 rgba(0,0,0,0.09);

}

@media (max-width: 768px) {
    
    .btn-submit {
        
      width:100%;
      float: none;
      text-align:center;
    
    }
}

input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
} 

input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}