html, body {
    background: #cccccc;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px 0;
}

#logo {
    width: 20%;

}

.conteiner {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.conteiner-principal {
    width: 100%;
    background-color: #02524d;
}

.principal {
    width: 85%;
    color: white;
}

nav li {
    display: inline;
    margin: 0, 15px, 0, 15px;
    padding: 25px;
    padding-right: 0%;
}

nav {
    position:absolute;
    top: 130px;
    right: 0px;
}

nav a {
    text-transform: uppercase;
    color: #2e2c2c;
    font-weight: lighter;
    font-size: 35px;
    text-decoration: none;
    color: #02524d;
}


nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}

#banner {
    width: 100%;
    height: 30%;
    margin-left: 0px;
    margin-right: 0px;
}

h1 {
    margin-top: 20px;
    margin-right: 150px;
    margin-left: 150px;
    text-align: center;
    font-size: 60px;
    color: #02524d;
}

#h1-2 {
    margin-top: 0px;
    margin-right: 150px;
    margin-left: 150px;
    text-align: center;
    font-size: 40px;
    color: #02524d;
}

#servico {
    text-align: center;
    font-size: 40px;
    color: #02524d;
    margin-bottom: -30px;
}

.icon {
    width: 65%;
    border: #02524d;
}



.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 0px 0;
}

.produtos li p {
    text-align: center;
    color: #03403c;
}

.produtos li {
    display: inline-block;
    margin: 0 0 0 15px;
    text-align: center;
    width: 30%;
    vertical-align: top;
    font-size: 25px;
    color: #02524d;
    /*background: #f2f2f2;*/
    margin: 0.5% 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    /*border: 2px solid #02524d;
    border-radius: 10px;*/

}

.produtos li:hover {
    color: #c78c19;
    font-size: 26px;

}

.produtos li a {
    text-decoration: none;
    color: inherit;
}


.titulosprodutos {
    width: 100%;
}

.textos {
    margin-left: 200px;
    margin-right: 200px;
    text-align: justify;
    color: darkred;
    font-size: 30px;
}

#par1 {
    font-size: 40px;
}

#drone {
    margin-right: 250px;
    margin-left: 250px;
    font-size: 30px;
    text-align: justify;
}

#djirtk {
    padding-top: 40px;
    padding-bottom: 40px;
}

.lista {
    background: rgba(32, 135, 237, 0.3);
    padding-bottom: 1cm;

}

.textocentralizado {
    padding-top: 1cm;
    text-align: center;
    font-size: 40px;
}

.service {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    padding-right: 0%;
    padding-left: 10%;
    border: solid #2e2c2c
}

.trabalhos {
    font-size: 40px;
}

.drone {
    width: 47%;
    margin-right: 0px;
    padding-left: 38px;
    padding-top: 15px;
}

footer {
    text-align: center;
    background: url("../images/bg.jpg");
    padding: 30px 0;
    font-size: 20px;
    color: #FFFFFF;