html, body {
    background: #cccccc;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px 0;
}

#logo {
    width: 20%;

}

.conteiner {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.principal {
    width: 100%;
}

nav li {
    display: inline;
    margin: 0, 15px, 0, 15px;
    padding: 25px;
    padding-right: 0%;
}

nav {
    position:absolute;
    top: 130px;
    right: 0px;
}

nav a {
    text-transform: uppercase;
    color: #2e2c2c;
    font-weight: lighter;
    font-size: 35px;
    text-decoration: none;
    color: #02524d;
}


nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}

#banner {
    width: 100%;
}

.principal {
    width: 100%;
}

h1 {
    margin-top: 20px;
    margin-right: 150px;
    margin-left: 150px;
    text-align: center;
    font-size: 60px;
    color: #02524d;
}

#h1-2 {
    margin-top: 0px;
    margin-right: 150px;
    margin-left: 150px;
    text-align: center;
    font-size: 40px;
    color: #02524d;
}

p {
    margin-right: 200px;
    margin-left: 200px;
    text-align: center;
    color: darkred
}

#par1 {
    font-size: 40px;
}

#drone {
    margin-right: 250px;
    margin-left: 250px;
    font-size: 30px;
    text-align: justify;
}

#djirtk {
    padding-top: 40px;
    padding-bottom: 40px;
}

.lista {
    background: #a9af7c;
    padding-bottom: 1cm;
}

.textocentralizado {
    padding-top: 1cm;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
}

.list-trab {
    display: inline-block;
    vertical-align: top;
    width: 35%;
    margin-right: 0%;
    margin-left: 7%;
}

.trabalhos {
    font-size: 40px;
}

.drone {
    width: 40%;
    margin-right: 0px;
    padding-left: 0px;
}

footer {
    text-align: center;
}